html, body {
  background-color: rgba(35, 39, 43, 1);
  height: 100vh;
  color: rgba(185, 193, 202, 1);
  overflow: hidden;
  font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
}

#side-bar {
  background-color: rgba(22, 25, 28, 1);
  height: 100vh;
  display: flex;
  align-items: center;
}

#side-bar-inner {
  height: 30vh;
  width: 100%;
}

.side-bar-button {
  width: 4vw;
  height: 4vw;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.side-bar-button.active {
  background-color: rgba(65, 90, 206, 1);
  color: rgba(247, 247, 253, 1);
}

.side-bar-button.active#hue-button {
  background-color: #eeaf00;
  color: rgba(247, 247, 253, 1);
}

.side-bar-button.active#spotify-button {
  background-color: #1db954;
  color: rgba(247, 247, 253, 1);
}

main {
  height: 100vh;
  padding: 60px 80px !important;
  color:
}

h1 {
  font-size: 30px;
  font-weight: 200;
  color: rgba(185, 193, 202, 1);
  padding: 0;
  margin: 0 0 5px 0;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 16px;
  font-weight: 200;
  color: rgba(90, 101, 111, 1);
  margin: 0;
  /* margin-bottom: 40px; */
}

.page {
  height: 60vh;
}

.widget {
  height: 15vw;
  width: 15vw;
  background-color: rgba(58, 65, 71, 1);
  -webkit-box-shadow: 0px 0px 20px 1px rgba(30,30,30,0.8);
  -moz-box-shadow: 0px 0px 20px 1px rgba(30,30,30,0.8);
  box-shadow: 0px 0px 20px 1px rgba(30,30,30,0.8);
  position: relative;
}

.widget>p {
  font-size: 12px;
  padding: 15px 0 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(148, 152, 160, 1);
  position: absolute;
}

.widget>.status {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.widget>.status>p {
  margin: 0;
  font-weight: 200;
}

/* OVERLAY START */

#overlay {
  height: 30vh;
  width: 100vw;
  position: absolute;
  z-index: 8;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  margin-top: -35vh;
  transition: all 200ms;
}

#overlay-content {
  height: 100%;
  width: 100%;
  background-color: rgba(35, 39, 43, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(65, 90, 206, 0.2);
}

#overlay-content h3 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1.6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(65, 90, 206, 1);
}

/* OVERLAY END */

/* PLACEHOLDER START */

.placeholder-widget {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* PLACEHOLDER END */

/* DASHBOARD START */

#dashboard {
  display: block;
}

#dashboard .row {
  margin: 0;
  height: 50%;
  display: flex;
  align-items: center;
}

/* DASHBOARD END */

/* SPOTIFY START */

#spotify {
  display: none;
}

#spotify h3 {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
}

#spotify-device-container {
  text-align: center;
}

#spotify-device-container div {
  padding: 20px 2px;
}

#spotify-device-container div.active {
  border: 1px solid #1db954;
  border-radius: 3px;
}

#spotify-device-container h4 {
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.spotify-widget {
  text-align: left;
  font-size: 16px;
  padding: 10px 15px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
  position: absolute;
  margin-left: -80px;
  bottom: 0;
  background-color: rgb(29,32,36);
  font-weight: 200;
}

footer img {
  width: 60px;
  height: 60px;
  display: none;
}

footer p {
  margin: 0;
  padding: 0;
}

footer p.footer-name {
  font-size: 14px;
  color: #fff;
}

footer p.footer-artists {
  font-size: 11px;
  color: #b3b3b3;
}

footer div.player {
  display: inline-block;
  height: 100%;
}

footer div.player .row {
  height: 100%;
}

footer div.player-button {
  display: inline-block;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

footer div.player-button .row {
  width: 100%;
  height: 100%;
}

footer div.player-button .row div {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div#spotify-play-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

footer div#spotify-play-pause #play-icon {
  padding-left: 2px;
}

footer div#spotify-play-pause #pause-icon {
  display: none;
}

footer div#spotify-repeat #repeat-fa-single {
  display: none;
}

footer input#spotify-volume {
  display: block;
  margin-left: auto;
  margin-right: 20px;
  width: 60%;
  background-color: inherit;
  height: 100%;
}

footer input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.75px 0;
}
footer input[type=range]:focus {
  outline: none;
}
footer input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #b3b3b3;
  border-radius: 25px;
  border: 0px solid rgba(1, 1, 1, 0);
}
footer input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 8.7px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 30px;
  width: 30px;
  border-radius: 36px;
  background: #b9c1ca;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
footer input[type=range]:focus::-webkit-slider-runnable-track {
  background: #b3b3b3;
}
footer input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #b3b3b3;
  border-radius: 25px;
  border: 0px solid rgba(1, 1, 1, 0);
}
footer input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 8.7px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 30px;
  width: 30px;
  border-radius: 36px;
  background: #b9c1ca;
  cursor: pointer;
}
footer input[type=range]::-ms-track {
  width: 100%;
  height: 6.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
footer input[type=range]::-ms-fill-lower {
  background: #b3b3b3;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
footer input[type=range]::-ms-fill-upper {
  background: #b3b3b3;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
footer input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 8.7px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 18px;
  width: 18px;
  border-radius: 36px;
  background: #b9c1ca;
  cursor: pointer;
  height: 6.5px;
}
footer input[type=range]:focus::-ms-fill-lower {
  background: #b3b3b3;
}
footer input[type=range]:focus::-ms-fill-upper {
  background: #b3b3b3;
}


/* SPOTIFY END */

/* HUE START */

#hue {
  display: none;
  text-align: center;
}

#hue .row {
  padding-top: 50px;
}

#hue .hue-height {
  height: 120px;
}

#hue h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 200;
  padding-bottom: 20px;
}

#hue p {
  text-transform: uppercase;
  font-weight: 100;
}

.hue-light-slider, .hue-lamp-slider {
  height: 300px;
  margin: 30px auto 0 auto;
}

.hue-lamp {
  display: inline-block;
}

.hue-lamp p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 100;
}

.hue-widget>.row {
  height: 100% !important;
  text-align: center;
  align-items: flex-end !important;
  padding-bottom: 10px;
}

.hue-widget>.row>div {
  padding: 10px 0;
  border-left: 1px solid rgba(80, 85, 90, 1)
}

.hue-widget>.row>div:first-child {
  border: 0;
}

.hue-widget h3 {
  font-size: 10px;
  color: rgba(148, 152, 160, 1);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding-bottom: 5px;
}

.hue-right-lamp-state, .hue-right-lamp-percentage,
.hue-left-lamp-state, .hue-left-lamp-percentage,
.hue-light-state, .hue-light-percentage {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 0;
  margin: 3px;
  font-size: 14px;
}

/* HUE END */

/* GOOGLE MAPS START */

.google-maps-widget>.row {
  height: 100% !important;
  text-align: center;
  align-items: flex-end !important;
  padding-bottom: 10px;
}

.google-maps-widget>.row>div {
  padding: 10px 0;
  border-left: 1px solid rgba(80, 85, 90, 1)
}

.google-maps-widget>.row>div:first-child {
  border: 0;
}

.google-maps-widget h3 {
  color: rgba(148, 152, 160, 1);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.2px;
  padding-bottom: 5px;
}

.google-maps-duration {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 0;
  margin: 3px;
  font-size: 14px;
}

/* GOOGLE MAPS END */

/* TIMER START */

.timer-widget>.row {
  height: 100% !important;
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
}

.timer-widget h3 {
  font-size: 8px;
  color: rgba(148, 152, 160, 1);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding-bottom: 5px;
}

.timer-time {
  margin: 0;
  margin-top: 30px;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 100;
}

/* TIMER END */
